{% extends 'base.html' %}
{% block content %}
    <div class="login-page">
        <div class="connexion-login">
            <h2>Connectez Vous</h2>
            <p>{{ message }}</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <p class="login-error">{{ field.errors }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="connexion-button">
                    <button type="submit" class="login-button">Se connecter</button>
                </div>
                
            </form>
        </div>
        <div class="inscription-login">
            <h2>Inscrivez-vous maintenant </h2>
            <a href="{% url 'signup' %}"><button type="button" class="login-button">S'inscrire</button></a>
        </div>
    </div>
{% endblock content %}
