{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="login-page">
        <div class="connexion-login">
            <div class="icone-title">
                <img src="{% static 'icones/icone-login.png' %}" alt="icone login">
                <h2>Connectez Vous</h2>
            </div>
            <p>{{ message }}</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="connexion-button">
                    <button type="submit" class="submit-button">Se connecter</button>
                </div>
            </form>
        </div>
        <div class="inscription-login">
            <div class="icone-title">
                <img src="{% static 'icones/icone-signup.png' %}" alt="icone signup">
                <h2>Inscrivez-vous maintenant </h2>
            </div>
            <a href="{% url 'signup' %}"><button type="button" class="submit-button">S'inscrire</button></a>
        </div>
    </div>
    {% if form.non_field_errors %}
                <div class="login-error" role="alert">
                    {{ form.non_field_errors.as_text }}
                </div>
        {% endif %}
{% endblock content %}
