{% extends 'base.html' %}
{% block content %}
    <div class="form-connexion">
        <div class="connexion-login">
            <h2>Connectez Vous</h2>
            <p>{{ message }}</p>
            <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
        </form>
        </div>
        <div class="inscription-login">
            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
        </div>
        
        
    </div>
    
{% endblock content %}