{% extends 'base.html' %}
{% block content %}
<div class="signup-page">
    <h2>Inscrivez-vous</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <p class="signup-error">{{ field.errors }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="connexion-button">
            <a href="{% url 'login' %}"><button type="button" class="login-button">Retourner</button></a>
            <button type="submit" class="login-button">S’inscrire</button>
        </div>

    </form>
</div>
{% endblock content %}