html {
    font-family: Arial, sans-serif;
    background-image: url(../images/fond_ecran_livre_1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
html, h1, h2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    opacity: 0.9;
    
}
.main{  
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-left{
    width: 100%;
    text-align: left;
    font-weight: 600;
    margin-top: 50px;
}
.button-submit-right{
    width: 100%;
    text-align: right;
}

/* affichage des messages de succes et d erreurs */

.messages{
    list-style: none;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
}

.messages li.success {
    color: green;
}

.messages li.error {
    color: red;
}


/* Header */

.header {
    background-color: #333;
    color: white;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titre-header{
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav a, .logout-button {
    text-decoration: none;
    background: none; 
    border: none; 
    color: white;
    padding: 5px 5px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}
.logout-form{
    margin: 0;
}
.nav a:hover, .logout-button:hover{
    border-bottom: 2px solid #fff;
    cursor: pointer;

}
.header img {
    height: 100px;
    margin-right: 20px;
}


/* page login */

.login-page{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.errorlist{
    color: red;
    list-style: none;
    margin: 30px 0;
}

.connexion-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.connexion-button{
    text-align: end;
    margin-top: 40px;
}
.inscription-login {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.change-password{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field, .form-field-ticket {
    margin-bottom: 20px; /* Espacement entre les champs */
}
input:focus, select:focus, textarea:focus{
    background-color: #f0c997;
    border:none ;
}

.login-error{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: red;
}

/* Style pour les labels dans les champs */
label {
    font-weight: 500;
}

/* Style pour placer les labels dans les champs */
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: black;
    
}
select{
    padding: 10px 50px;
}
.submit-button{
    padding: 10px 30px;
    margin-top: 30px;
    background-color: #333;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.submit-button:hover{
    cursor: pointer;
    background-color: #c2791a;
    color: black;
    box-shadow: 0 0 50px #ffd193;
}
/* page follows */

.follows-form-title{
    text-align: center;
}
.follows-form{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.follows-button{
    margin-left: 50px;
    margin-top: 0;
}
.follows-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.following, .followers{
    text-align: center;
    margin-bottom: 50px;
}

.follows-td-name{
    width: 45vw;
    padding: 10px;
    border: 1px solid black;
}
.follows-td-button a{
    text-decoration: none;
}
.follows-td-button{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}
.follows-td-button:hover{
    cursor: pointer;
    border: 2px solid #c2791a;
    background-color: #c2791a;
    box-shadow: 0 0 50px #ffd193;
}

/* page ticket */

.ticket-page, .review-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.form-field-ticket input[type="text"],
.form-field-ticket input[type="file"],
.form-field-ticket input[type="password"],
.form-field-ticket textarea {
    width: 100%; /* Définir la largeur de tous les champs de texte à 100% */
    padding: 10px; /* Ajouter un remplissage pour un meilleur aspect */
    border: 1px solid #ccc; /* Ajouter une bordure */
    border-radius: 5px; /* Ajouter une bordure arrondie */
    box-sizing: border-box; /* Inclure le remplissage et la bordure dans la largeur totale */
}
.form-field-ticket textarea{
    font-size: 20px;
}

/* page de suppression ticket */

.ticket-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0; 
}
.ticket-h2{
    margin-bottom: 30px;
}
.ticket-img{
    margin: 30px 0;
}

/* page review */
.ticket-display{
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    margin: 30px 0;
}
.ticket-display-title{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.review-page h3, .review-page img{
    margin: 0;
}
.review-texte{
    width: 80%;
    margin-top: 20px;
}

#id_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* footer */

.footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #333; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte du footer */
    padding: 10px 0; /* Espacement intérieur du footer */
}
.logo-footer{
    height: 80px;
}


