/* Variables couleurs */

:root {
    --background-color-1: #fff;
    --background-color-2: #000;
    --text-color-1: var(--background-color-2);
    --text-color-2: #fff;
    --text-color-3: var(--background-color-2);
    --success-color: green;
    --error-color: red;
    --button-color: #e7473c;
    --button-text-color: var(--text-color-2);
    --focus-color: #afdff5;
    --text-shadow-1: rgba(4, 81, 104, 0.5);
    --border-shadow-color: lightgray;
    --button-hover-color: #e7473c;
    --button-hover-halo-color: var(--button-hover-color);
    --post-ticket: #e4d4b7;
    --post-review: #f9f9ee;
}

/* reset */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base */

html {

    background-image: url(../images/man_made-book-library-841345.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#body {
    width: 60%;
    opacity: 0.9;
    font-family: Verdana, sans-serif;
    color: var(--text-color-1);
    font-size: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color-2);

}

/* styles communs */

.submit-button {
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin: 20px 20px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    color: var(--text-color-1);
    box-shadow: 0 0 50px var(--button-hover-halo-color);
}

.text-description {
    font-size: 18px;
    margin: 20px;
}

.text-left {
    width: 100%;
    text-align: left;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}

.button-submit-right {
    width: 100%;
    text-align: right;
}

.span-bottom {
    margin-bottom: 20px;
}

.base-page {
    width: 100%;
    padding: 40px 0;

}

.base-page h2, .login-page h2, .signup-page h2 {
    color: var(--text-color-2);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--text-shadow-1);
}

.base-page h3 {
    text-shadow: 1px 1px 1px var(--text-shadow-1);
    margin: 0;
}



.icone-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px var(--text-shadow-1);
}

.post-icone-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-title img {
    width: 100px;
    margin-right: 20px;
}

/* affichage des messages de succes et d erreurs */

.messages {
    list-style: none;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
}

.messages li.success {
    color: var(--success-color);
}

.messages li.error {
    color: var(--error-color);
}


/* Header */

#header {
    background-color: var(--background-color-2);
    color: var(--text-color-2);
    height: 150px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre-header {
    display: flex;
    align-items: center;
}

.titre-header h1 {
    margin: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav a, .logout-button {
    text-decoration: none;
    background: none;
    border: none;
    color: var(--text-color-2);
    padding: 5px 5px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

.logout-form {
    margin: 0;
}

.nav a:hover, .logout-button:hover {
    border-bottom: 4px solid var(--text-color-2);
    cursor: pointer;
}

#header img {
    height: 100px;
    margin-right: 20px;
}


/* page login */

.login-page {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.signup-page {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorlist {
    color: var(--error-color);
    list-style: none;
    margin: 30px 0;
    font-size: 20px;
}

.connexion-login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.connexion-button {
    margin-top: 20px;
    margin-right: 30px;
    text-align: end;

}

.inscription-login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field, .form-field-ticket {
    margin-bottom: 20px;
    /* Espacement entre les champs */
}

input[type="text"],
input[type="file"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

input:focus, select:focus, textarea:focus, #id_followed_user:focus {
    background-color: var(--focus-color);
    color: var(--text-color-1);
    border-width: 0;

}

.login-error {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: var(--error-color);
}


/* Style pour les labels dans les champs */
label {
    font-weight: 500;
    color: var(--text-color-2);
}


select {
    padding: 10px 50px;
    border-radius: 5px;
}

.review-form {
    width: 60%;
}

/* page follows */

.follows-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#id_followed_user {
    margin-right: 50px;
    background-color: #fff;
    border: 1px solid var(--border-shadow-color);
}



.follows-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.following, .followers {
    width: 90%;
    background-color: var(--post-review);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid var(--border-shadow-color);

}

.follows-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 2px solid var(--border-shadow-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}


/* page ticket */

.ticket-page, .review-page, .posts-page, .flux-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* page de suppression ticket */

.ticket-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.ticket-img {
    margin: 30px 0;
}

/* page review */

.ticket-display {
    width: 60%;
    background-color: var(--post-ticket);
    border: 1px solid var(--border-shadow-color);
    border-radius: 50px;
    padding: 20px;
    margin: 30px 0;
}

.ticket-display-title {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.review-texte {
    width: 80%;
    margin-top: 20px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ticket-section, .review-section {
    padding: 0 20px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid var(--border-shadow-color);
    border-radius: 10px;
}

/* page posts */

.post-ticket, .post-review, .post-ticket-review, .ticket-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 50px;

}

.post-ticket img, .post-review img, .post-ticket-review img, .ticket-display img {
    width: 250px;
}

.post-review {
    background-color: var(--post-review);
    width: 70%;
    margin: 10px 0;
}

.post-ticket {
    background-color: var(--post-ticket);
    width: 70%;
    margin: 10px 0;

}

.post-ticket-review {
    width: 80%;
    background-color: var(--post-ticket);
    padding: 20px;
    margin: 20px;

    border: 1px ridge var(--background-color-2);
}


.title-date {
    width: 90%;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-3);
    font-weight: 600;
}

.post-icone {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.post-icone img {
    width: 70px;
    margin-right: 10px;

}

.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.star-rating img {
    width: 20px;
}

.stars {
    margin-left: 30px;
}

/* footer */

#footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--background-color-2);
    color: var(--text-color-2);
    padding: 50px;
}

.logo-footer {
    height: 80px;
}

/* Responsive */

@media all and (max-width: 1350px) {

    html {
        background-image: none;
        background-color: var(--background-color-2);
    }

    #body {
        opacity: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Style pour le header */
    #header {
        text-align: center;
    }

    #header img {
        height: 70px;
    }

    #header h1 {
        font-size: 22px;
    }

    .titre-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .login-page {
        flex-direction: column;
    }

    .logo-header-litrevu {
        margin-bottom: 10px;
    }

    .star-rating {
        flex-direction: column;
    }

    .stars {
        margin-top: 20px;
    }
}

@media all and (max-width: 700px) {

    #header {
        padding: 30px 10px 10px 10px;
    }

    .base-page {
        padding: 0;
    }

    .submit-button {
        font-size: 14px;
    }

    .connexion-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .unfollow-button {
        padding: 10px 20px;
        margin: 0;
    }

    input[type="text"],
    input[type="file"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .messages {
        font-size: 16px;
        margin-right: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post-ticket, .post-review {
        width: 100%;
        border-radius: 0;
    }

    .post-ticket-review {
        width: 80%;
        border-radius: 0;
    }

    .post-ticket img {
        width: 200px;
    }

    .post-icone-title img {
        width: 70px;
    }

    .ticket-display {
        width: 90%;
        border-radius: 0;
    }

    .ticket-section, .review-section {
        border: none;
        border-radius: 0;
    }

    .ticket-display-title {
        flex-direction: column-reverse;
    }

    .title-date, .post-icone {
        flex-direction: column-reverse;
    }

    .review-form {
        width: 90%;
        padding: 20px 0;
    }

    .form-field {
        width: 80%;
    }

    .form-field-ticket {
        width: 90%;
    }

    .star-rating {
        flex-direction: column;
        font-size: 16px;
    }

    .button-submit-right {
        text-align: center;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav li {
        margin-bottom: 10px;
    }

    .nav a, .logout-button {
        font-size: 18px;
    }

    .post-icone-title {
        margin-top: 20px;
    }

    .icone-title {
        margin-top: 50px;
    }

    .icone-title img {
        width: 70px;
    }

    .icone-title h2 {
        font-size: 16px;
    }

    .follows-form {
        align-items: center;
        justify-content: center;
    }

    .follows-form button {
        margin: 0 20px 0 0;
    }

    .follows-form select, .follows-form label {
        margin: 0 0 0 20px;
    }

    .follows-item {
        font-size: 16px;
    }

    .following, .followers {
        border-radius: 0;
        border: none;
    }

    .stars {
        margin-left: 0;
    }

    #footer {
        padding-top: 0;
    }
}