html, body {
    margin: 0;
    padding: 0;

}

html {

    background-image: url(../images/man_made-book-library-841345.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#body {
    width: 60%;
    font-family: Verdana, sans-serif;
    font-size: 100%;

}

#main {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.p {
    word-wrap: break-word;
}

.text-description {
    font-size: 18px;
}

.text-left {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}

.button-submit-right {
    width: 100%;
    text-align: right;
}

.span-bottom {
    margin-bottom: 20px;
}

.base-page {
    width: 100%;
}

.base-page h2 {
    color: #333;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(4, 81, 104, 0.5);
}

.base-page h3 {
    text-shadow: 1px 1px 1px rgba(4, 81, 104, 0.5);
}

img {
    max-width: 200px;
    border-radius: 10px;
    margin-top: 10px;

}

.icone-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px rgba(4, 81, 104, 0.5);
}

.icone-title img {
    width: 100px;
    margin-right: 20px;
}

/* affichage des messages de succes et d erreurs */

.messages {
    list-style: none;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
}

.messages li.success {
    color: green;
}

.messages li.error {
    color: red;
}


/* Header */

#header {
    background-color: #478ac9;
    color: white;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre-header {
    display: flex;
    align-items: center;
}

.titre-header h1 {
    margin: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav a, .logout-button {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    padding: 5px 5px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

.logout-form {
    margin: 0;
}

.nav a:hover, .logout-button:hover {
    border-bottom: 4px solid #fff;
    cursor: pointer;

}

#header img {
    height: 100px;
    margin-right: 20px;
}


/* page login */

.login-page {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.signup-page {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorlist {
    color: red;
    list-style: none;
    margin: 30px 0;
    font-size: 20px;
}

.connexion-login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.connexion-button {
    text-align: end;
    margin-top: 30px;
}

.inscription-login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field, .form-field-ticket {
    margin-bottom: 20px;
    /* Espacement entre les champs */
}

input:focus, select:focus, textarea:focus, #id_followed_user:focus {
    background-color: #77aad9;
    color: white;
    border-width: 0;

}

.login-error {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: red;
}


/* Style pour les labels dans les champs */
label {
    font-weight: 500;
}

/* Style pour placer les labels dans les champs */
input[type="text"],
input[type="password"],
select {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgrey;
    border: 1px solid lightgrey;
}

select {
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.submit-button {
    padding: 10px 30px;
    background-color: #77aad9;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #e0cdb4;
    color: black;
    box-shadow: 0 0 50px #dfaf70;
}

.review-form {
    width: 60%;
}

/* page follows */

.follows-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#id_followed_user {
    margin-right: 50px;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 20px lightgrey;
}

.follows-button {
    margin-left: 50px;
    text-decoration: none;
    background-color: #77aad9;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.follows-button:hover {
    cursor: pointer;
    background-color: #e0cdb4;
    color: black;
    box-shadow: 0 0 50px #dfaf70;
}

.follows-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.following, .followers {
    width: 90%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    box-shadow: 8px 8px 30px lightgrey;
}

.follows-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}


/* page ticket */

.ticket-page, .review-page, .posts-page, .flux-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field-ticket input[type="text"],
.form-field-ticket input[type="file"],
.form-field-ticket input[type="password"],
.form-field-ticket textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgrey;
    border-width: 0;
}

.form-field-ticket textarea {
    font-size: 20px;
}

/* page de suppression ticket */

.ticket-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.ticket-img {
    margin: 30px 0;
}

/* page review */

.ticket-display {
    width: 60%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray;
    padding: 20px;
    margin: 30px 0;
}

.ticket-display-title {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.review-texte {
    width: 80%;
    margin-top: 20px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ticket-section, .review-section {
    padding: 0 20px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray;
}

/* page posts */

.post-ticket, .post-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 40px;
    border: 1px solid lightgrey;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray;
}


.title-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-weight: 600;
    margin-bottom: 20px;
}

.post-icone {
    display: flex;
    align-items: center;
    justify-content: center;

}

.post-icone img {
    width: 70px;
    margin-right: 10px;

}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.star-rating img {
    width: 20px;
}

.stars {
    margin-left: 30px;
}

/* footer */

#footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #478ac9;
    color: #fff;
    padding: 10px 0;
}

.logo-footer {
    height: 80px;
}

/* Responsive */

@media all and (max-width: 1120px) {
    #body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    /* Style pour le header */
    #header {
        text-align: center;
        height: 150px;
    }

    #header img {
        height: 70px;
    }

    #header h1 {
        font-size: 22px;
    }

    .titre-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .login-page {
        flex-direction: column;
    }

    .logo-header-litrevu {
        margin-bottom: 10px;
    }


}

@media all and (max-width: 700px) {

    .connexion-button {
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ticket-display {
        width: 90%;
    }

    .ticket-display-title {
        flex-direction: column-reverse;
    }

    .ticket-section, .review-section {
        width: auto;
    }

    .title-date {
        flex-direction: column-reverse;
    }

    .review-form {
        width: 90vw;
        padding: 20px 0;
    }

    .form-field {
        width: 80%;
    }

    .form-field-ticket, textarea {
        width: 90vw;
    }

    .star-rating {
        flex-direction: column;
    }

    .button-submit-right {
        text-align: center;
    }

    .nav ul {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav li {
        margin-bottom: 10px;
    }

    .nav a, .logout-button {
        font-size: 18px;
    }

    .post-ticket, .post-review {
        width: 80vw;
        border-radius: 10px;
        border: 3px solid lightgrey;
    }

    input, select {
        width: 80%;
        margin: 0;
    }

    .icone-title img {
        width: 70px;
    }

    .icone-title h2 {
        font-size: 20px;
    }
    .follows-form{
        
        align-items: flex-end;
    }
}