{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ticket-page base-page">
        <div class="icone-title">
            <img src="{% static 'icones/icone-review.webp' %}" alt="icone critique">
            <h2>Créer une critique</h2>
        </div>
        <form method="post" class="ticket-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ticket-section">
                <div class="text-left"><p>Livre / Article</p></div>
                {% for field in ticket_form.visible_fields %}
                    <div class="form-field-ticket">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="review-section">
                <div class="text-left"><p>Critique</p></div>
                {% for field in review_form.visible_fields %}
                    <div class="form-field-ticket">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="button-submit-right">
                <a href="{% url 'flux' %}" class="submit-button">Annuler</a>
                <button type="submit" class="submit-button review-button">Envoyer</button>
            </div>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}