{% extends 'base.html' %}
{% load static%}
{% block content %}
    <div class="flux-page base-page">
        <div class="icone-title">
            <img src="{% static 'icones/icone-flux.png' %}" alt="icone flux">
            <h2>Flux</h2>
        </div>
        <div class="connexion-button">
            <a href="{% url 'create_ticket' %}"><button type="button" class="submit-button">Demander une critique</button></a>
            <a href="{% url 'create_review' %}"><button type="button" class="submit-button">Créer une critique</button></a>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for post in posts %}
            {% if post.ticket %}
                <div class="post-review">
                    <div class="title-date">
                        <div class="post-icone">
                            <img src="{% static 'icones/icone-review.png' %}" alt="icone critique">
                            {% if post.user != request.user %}
                                {{ post.user }} a
                            {% else %}
                                Vous avez
                            {% endif %}
                            publié une critique
                        </div>
                        {{ post.time_created }}
                    </div>
                    <div>
                        <div class="star-rating">
                            <span>{{ post.headline }}</span>
                            <span class='stars'>
                                {% for star in "x"|rjust:post.rating %}
                                    <img src="{% static 'icones/icone-etoile.png' %}" alt="icone etoile">
                                {% endfor %}
                            </span>
                        </div>
                        <p class="text-description">{{ post.body }}</p>
                    </div>
                    <div class="post-ticket">
                        <div class="post-icone">
                            <img src="{% static 'icones/icone-ticket.png' %}" alt="icone critique">
                            <span>Ticket - <strong>{{ post.ticket.user }}</strong></span>
                        </div>
                        <p><strong>{{ post.ticket.title }}</strong></p>
                        <p>{{ post.ticket.description }}</p>
                        <img src="{{ post.ticket.image.url }}" alt="{{post.ticket.title}}">
                    </div>
                </div>
            {% else %}
                <div class="post-ticket">
                    <div class="title-date">
                        <div class="post-icone">
                            <img src="{% static 'icones/icone-ticket.png' %}" alt="icone critique">
                            {% if post.user != request.user %}
                                {{ post.user }} a
                            {% else %}
                                Vous avez
                            {% endif %}
                            publié un ticket
                        </div>
                        {{ post.time_created }}
                    </div>
                    <p><strong>{{ post.title }}</strong></p>
                    <p>{{ post.description }}</p>
                    <img src="{{ post.image.url }}" alt="{{post.title}}">
                    {% if not post.has_review %}
                        <div class="connexion-button button-submit-right">
                            <a href="{% url 'create_review_ticket' post.id %}"><button type="button" class="submit-button">Repondre</button></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}