{% extends 'base.html' %}
{% block content %}
<div class="posts-page base-page">
    <h2>Vos posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                {% if post.ticket %}
                    <div class="review">
                        <p>Vous avez publié une critique - {{ post.time_created }}</p>
                        <p>{{ post.headline }} - {{ post.rating }}</p>
                        <p>{{ post.body }}</p>
                        <div class="ticket-review">
                            <p>Ticket - {{ post.ticket.user }}</p>
                            <p>{{ post.ticket.title }}</p>
                            <img src="{{ post.ticket.image.url }}" alt="{{post.ticket.title}}">
                        </div>
                    </div>
                      
                {% else %}
                    <div clas="ticket">
                        <p>Vous avez publié un ticket - {{ post.time_created }}</p>
                        <p>{{ post.title }}</p>
                        <p>{{ post.description }}</p>
                        <img src="{{ post.image.url }}" alt="{{post.title}}">
                    </div>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
